.create_btn{
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgb(97, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_img{
    width: 50%;
}

.create_btn:hover{
    animation-duration: 1s;
    animation-name: rotate;
    background-color: rgb(150, 150, 150);
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (min-width: 600px){
    .create_btn{
        width: 4rem;
        height: 4rem;
    }
}