@font-face{
    font-family: "Noto-sans";
    src: url(assets/font/NotoSans-VariableFont_wdth,wght.ttf);
}
*{
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
  
body{
    font-family: "Noto-sans";
    background-color: rgb(231, 231, 231);
}